<div class="question-box question-body">
  <div class="question-name">
    <%= routine.name %>
  </div>
  <div class="question-tools">
    <%= link_to routine_path(routine), class: "tooltip--triangle", titletool:'Edit Routine', 'data-toggle' => 'tooltip'  do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <% if routine.questions.any? %>
      <%= link_to answer_fields_path(routine.today), class: "tooltip--triangle", titletool: 'Add Answers', 'data-toggle' => 'tooltip' do %>
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      <% end %>
      <%= link_to routine_path(routine), class: "tooltip--triangle", titletool: 'View Stats', 'data-toggle' => 'tooltip' do %>
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <span class="disabbled">
        <i class="fa fa-list-ol" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>
</div>
