<div class="routine-index-container">
  <h1>My Routines</h1>
  <%= render @routines %>

  <div class="question-box question-body">
    <div class="question-name">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <%= link_to "Add a new Routine", new_routine_path %>
    </div>
  </div>
</div>
