<h1>Routine#new</h1>
<p>Find me in app/views/routine/new.html.erb</p>

<h1>select your questions</h1>

<div class="questions">
  <ul>
  <li class="selected">short text</li>
  <li>long text</li>
  <li>multiple</li>
</ul>

</div>

<div class="board">
  <!-- ADD HERE the selected form questions -->
  <!-- save user questions in the params -->

  <!-- if class is selected i render a form component -->

  <!-- Save button routine#create -->
</div>


