<div class="routine-subnav">
  <div class="subnav-row">
    <div class="subnav-body"><h1><%= @routine.name %> Stats<h1></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  <h2>Your habits over the last 30 days</h2>
    <div center>
      <iframe align="center" width="1000" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~TomManuelGauthier/2.embed"></iframe>
    </div>
  </div>
  <hr/>
  <div class="col-md-6">
    <div>
    <h1>Last week review</h1>
    <br>
    <ul>
      <li>You worked <b>36 hours</b></li>
      <br>
      <li>You drank <b>6 coffees</b></li>
      <br>
      <li>You wrote <b>12300 words</b></li>
      <br>
    </ul>
    </div>
  </div>
  <div class="col-md-6">
    <iframe width="400" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~TomManuelGauthier/4.embed"></iframe>
  </div>
</div>
