<div class="routine-subnav">
  <div class="subnav-row">
    <div class="subnav-body"><h1><%= @routine.name %> Stats<h1></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
  <h1>Overall Data</h1>
    <iframe style="width: 100%; height: 300px;" frameborder="0" scrolling="no" src="//plot.ly/~jackp/10033.embed"></iframe>
  </div>
  <hr/>
  <div class="col-md-8">
    <div>
    <h2>Weekly Avarege</h2>
    <p>text</p>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Daily Avarege</h2>
    <p>text</p>
  </div>
</div>
