/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Nixie+One|Open+Sans:300i,400,600,700,800");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: 'Nixie One', "Helvetica", "sans-serif";
$accent-font: 'Dancing Script', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors

 * ------------------------------------- */
// Scheme
$routine-color: #634699;
$hover-color: #5F9EA0;
$text-grey: #585858;
$text-light-grey: #cccccc;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
