/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Oswald:300,400,500,600,700|Open+Sans:300i,300,400,600,700,800|Gloria+Hallelujah");

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: 'Oswald', "Helvetica", "sans-serif";
$accent-font: 'Dancing Script', cursive;
$fun-font: 'Gloria Hallelujah', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors

 * ------------------------------------- */
// Scheme
$routine-color: #634699;
$hover-color: #2C8C99;
$highlight-color: #96A5A5;
$scooter-color: #2C8C99;
$darkslate-color: #2B484D;
$routine-grey: #9C9C9C;
$text-grey: #585858;
$text-light-grey: #cccccc;
$text-dark: #333333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$light-grey: #f1f1f1;
$border-line: #DCE0E0;

$footer-bg: #2B484D;
