.routine-subnav {
  background: $darkslate-color;
  color: #FFF;
  border-radius: 25px;
  padding: 0 10px 0 10px;
  h1 {
    font-weight: lighter;
    margin: 0;
    line-height: 80px;
  }
}

.subnav-row {
  display: flex;
  align-items: center;
}

.subnav-body {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.answer-form-container {
  margin-top: 20px;
  background: $light-grey;
  border-radius: 25px;
  padding: 20px 60px;
  min-height: 75vh;
  width: 100%;
  h2 {
    font-size: 30px;
  }
}

.navigation-arrow {
  width: 60px;
  height: 60px;
  fill: #FFF;
  color: #FFF;
  &:hover {
    color: $scooter-color;
    fill: $scooter-color;
  }
}
