.routine-sidebar {
  background: $light-grey;
  border-radius: 10px;
  padding: 20px;
  min-height: 75vh;
  h3 {
    padding-bottom: 10px;
  }
}

.routine-editor {
  background: $light-grey;
  border-radius: 10px;
  padding: 20px;
  min-height: 75vh;
  position: relative;
  h1 {
    font-size: 25px;
  }
}

#editor-info {
  font-family: $fun-font;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

#preview-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#questions-list {
  text-align: left;
}

.preview-content {
  background: $light-grey;
  border-radius: 10px;
  padding: 20px;
  min-height: 75vh;
  position: relative;
}

#submit-button {
  position: absolute;
  bottom: 30px;
  right: -80px;
}

#continue-button {
  position: absolute;
  bottom: 30px;
  left: -80px;
}
