<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Routine.io 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-footer">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to 'Our Team', team_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
