<header>
  <div class="container-home">
    <div class="intro-text">
      <div class="intro-lead-in">Design Your Habits</div>
      <div class="intro-heading">Become More Productive</div>
      <%= link_to 'start a routine', new_routine_path, class: "page-scroll btn btn-routine btn-scooter-dark btn-upcase" %>
    </div>
  </div>
</header>
