<header>
  <div class="container-home">
    <div class="intro-text">
      <div class="intro-lead-in">Track Your Activities</div>
      <div class="intro-heading">become more productive</div>
      <%= link_to 'Start a Routine', new_routine_path, class: "page-scroll btn btn-routine btn-scooter-dark btn-upcase" %>
    </div>
  </div>
</header>
