<header>
  <div class="container-home">
      <div class="intro-text">
          <div class="intro-lead-in">Track Your Activities</div>
          <div class="intro-heading">become more productive</div>
          <a href="#new" class="page-scroll btn btn-routine btn-scooter-dark btn-upcase">Start a Routine</a>
      </div>
  </div>
</header>
