<header>
  <div class="container-home">
    <div class="row">
      <div class="col-sm-4">
        <div id="container-left">
          <div class="intro-text">
            <div class="intro-lead-in"><em>Create, edit and change your habits easily</em></div>
            <div class="intro-heading">
              Become more productive
            </div>
          </div>
          <%= link_to 'start today', new_routine_path, class: "btn btn-lg btn-routine btn-scooter-light btn-upcase"%>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="banner-right">
          <div><%= image_tag "routine_demo.gif", class: "banner-right" %></div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="row" style="margin-top: -70px;">
    <p class="section-heading">How does it work?</p>
  </div>
</header>


