<li id=<%= "#{question.id}" %>>

  <!-- Question Header -->
  <%= render 'forms/qheader', question: question %>

  <!-- User Input -->
  <div class="yes-no list">
    <% defined?(@answer) ? value = Field.stored_answer(@answer.id, question.id) : value = "" %>
    <ul class="columns">
      <li class="no_hover <%= "answer" if value == "yes" %>">
        <span class="label">Yes</span>
      </li>
      <li class="no_hover <%= "answer" if value == "no" %>">
        <span class="label">No</span>
      </li>
    </ul>
  </div>

</li>
