<div class="btn btn-routine btn-scooter-light">Use Template</div>
<xmp><div class="btn btn-routine btn-scooter-light">Use Template</div></xmp>
<hr>
<div class="btn btn-routine btn-scooter-light btn-pill">Submit Routine</div>
<xmp><div class="btn btn-routine btn-scooter-light btn-pill">Submit Routine</div></xmp>
<hr>
<div class="btn btn-routine btn-scooter-light btn-circle svg-icon">
  <%= inline_svg("eye-icon.svg", class: "svg-icon") %>
</div>
<xmp><div class="btn btn-routine btn-scooter-light btn-circle svg-icon"></xmp>
<xmp><%%= inline_svg("eye-icon.svg", class: "svg-icon") %></div></xmp>
