<div class="btn btn-routine btn-scooter">Use Template</div>
<xmp><div class="btn btn-routine btn-scooter">Use Template</div></xmp>
<hr>
<div class="btn btn-routine btn-scooter btn-pill">Submit Routine</div>
<xmp><div class="btn btn-routine btn-scooter btn-pill">Submit Routine</div></xmp>
<hr>
<div class="btn btn-routine btn-scooter btn-circle svg-icon">
  <%= inline_svg("eye.svg", class: "svg-icon") %>
</div>
