/* -------------------------------------
 * CSS code specific to footer section
 * (margin/padding adjustments)
 * ------------------------------------- */
 footer {
  padding: 15px 0;
  text-align: center;
  background: $footer-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span.copyright {
    padding-left: 10px;
    color: #FFF;
    text-transform: none;
    font-weight: lighter;
    font-size: 15px;
    line-height: 35px;
  }
}
ul.social-footer {
  margin-bottom: 0;

  li a {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    outline: 0;
    color: #FFF;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    :hover,:focus,:active {
      color: $hover-color;
    }
  }
}

footer ul a {
  margin-bottom: 0;
  line-height: 40px;
  font-family: $base-font;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}

a:hover{
  text-decoration: none;
  color: $hover-color;
}

