
.block-content {
  align-self: center;
  max-width: 500px;
  margin-top: 0;
  justify-content: center;
}

.container-home {
  padding-top: 100px;
  width: 100%;
  display: flex;
}

#banner-left{
  width: 40%;
  padding: 30px;
  text-align: center;
}

#banner-right{
  height: 90vh;
  width:60%;
  padding: 30px;
}

#img-container{
  background-image: image-url('computer-right2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height:100%;
}

.btn-xl {
  color: white;
  background-color: $hover-color;
  border-color: $hover-color;
  font-family:$header-font;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.btn-xl:active:focus,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: $routine-color;
  border-color: $routine-color;
}
header {
  text-align: center;
  color: $routine-color;
}
header .intro-text {
  text-align: left;
  padding-top: 30px;
}

header .btn-div{
  text-align: center;
  padding-top: 20px;
}

header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  font-weight: lighter;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

header #quote-author {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}



@media (min-width: 768px) {
  header .intro-text {
    padding-top: 30px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
