.container-home {
  margin-top: -5px;
  width: 100%;
  display: flex;
  background-color: #f1f1f1;
  padding: 10px 10px 80px 10px;

}

#container-left{
  padding-bottom: 40px;
  padding-left: 40px;
}

.banner-right{
  img {
    width: 95%;
  }
}

header {
  text-align: center;
  color: $text-grey;
}

header .intro-text {
  text-align: center;
  padding-top: 30px;
}

header .btn-div{
  text-align: left;
  padding-top: 20px;
}

header .intro-text .intro-lead-in {
  justify-content: center;
  font-family: $header-font;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 17px;
  font-weight: lighter;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.3em;
  line-height: 1em;
  margin-bottom: 40px;
  letter-spacing: -0.05em;
}

