<li id=<%= "#{question.id}" %> class="question-item inactive">

  <!-- Question Header -->
  <%= render 'forms/qheader', question: question %>

  <!-- User Input -->
  <div class="multiple list">
    <ul class="columns">
      <% question.question_choices.each do |choice| %>
        <%= render 'forms/choice', question: question, choice: choice %>
      <% end %>
    </ul>
  </div>

</li>
