<div class="wrapper">
  <div class="item">
    <span><%= question.position %></span>
    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
  </div>
  <div class="question">
    <span><%= question.name %></span>
  </div>
</div>
