<li id=<%= "#{question.id}" %> class="question-item inactive">

  <!-- Question Header -->
  <%= render 'forms/qheader', question: question %>

  <!-- User Input -->
  <div class="scale">
    <ul class="scale-columns">
      <li class="choice"><div class="label">1</div></li>
      <li class="choice"><div class="label">2</div></li>
      <li class="choice"><div class="label">3</div></li>
      <li class="choice"><div class="label">4</div></li>
      <li class="choice"><div class="label">5</div></li>
      <li class="choice"><div class="label">6</div></li>
      <li class="choice"><div class="label">7</div></li>
      <li class="choice"><div class="label">8</div></li>
      <li class="choice"><div class="label">9</div></li>
      <li class="choice"><div class="label">10</div></li>
    </ul>
  </div>

</li>

