<li id=<%= "#{question.id}" %> class="active focus">

  <!-- Question Header -->
  <%= render 'forms/qheader', question: question %>

  <!-- User Input -->
  <div class="scale">
    <ul class="scale-columns">
    </ul>
  </div>

</li>
