.btn-routine {
  letter-spacing: 1.5px;
  font-weight: lighter;
  padding: 10px 25px;
  transition: background 0.3s ease;
  &:hover {
    background: transparent;
  }
}

.btn-pill {
  border-radius: 50px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  border-radius: 50%;
}

.btn-upcase {
  text-transform: uppercase;
}

.btn-full-w {
  width: 100%;
}

.btn-shadow {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.btn-shadow-circle {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.btn-scooter-light {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  transition: background 0.3s ease;
  &:hover {
    color: $scooter-color;
    fill: $scooter-color;
  }
}

.btn-scooter-dark {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  &:hover {
    color: #FFF;
    fill: #FFF;
  }
}

.btn-scooter-inverse {
  color: $scooter-color;
  fill: $scooter-color;
  border: 1px solid $scooter-color;
  background: #FFF;
  transition: background 0.3s ease;
  &:hover {
    color: #FFF;
    fill: #FFF;
    background: $scooter-color;
  }
}

.btn-signup-submit {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  transition: opacity 0.3s ease;
  transition: background 0.3s ease;
  &:hover {
    opacity: 0.8;
    background: $scooter-color;
    color: #FFF;
  }
}

.btn-routine-preview {
  color: #FFF;
  fill: #FFF;
  background: $scooter-color;
  transition: background 0.3s ease;
  &:hover {
    background: #55A1AC;
    color: #FFF;
  }
}

.btn-routine-submit {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $routine-color;
  background: $routine-color;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
    background: $routine-color;
    color: #FFF;
  }
}

.btn-form-white {
  color: $text-dark;
  fill: $text-dark;
  border: 1px solid $border-line;
  background: #FFF;
  transition: background 0.2s ease;
  &:hover {
    background: $scooter-color;
    color: #FFF;
    fill: #FFF;
  }
}

.svg-icon {
  svg {
    width: 70%;
    vertical-align: middle;
  }
}
