.btn-routine {
  font-weight: lighter;
  padding: 10px 25px;
  transition: background 0.3s ease;
  &:hover {
    background: transparent;
  }
}

.btn-pill {
  border-radius: 50px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 0;
  line-height: 50px;
  border-radius: 50%;
}

.btn-upcase {
  text-transform: uppercase;
}

.btn-full-w {
  width: 100%;
}

.btn-scooter-light {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  &:hover {
    color: $text-dark;
    fill: $text-dark;
  }
}

.btn-scooter-dark {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  &:hover {
    color: #FFF;
    fill: #FFF;
  }
}

.btn-scooter-inverse {
  color: $scooter-color;
  fill: $scooter-color;
  border: 1px solid $scooter-color;
  background: #FFF;
  &:hover {
    color: #FFF;
    fill: #FFF;
    background: $scooter-color;
  }
}

.btn-signup-submit {
  color: #FFF;
  fill: #FFF;
  border: 1px solid $scooter-color;
  background: $scooter-color;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
    background: $scooter-color;
    color: #FFF;
  }
}
