.questions {
  a {
    text-decoration: none;
  }
  .list {
    ul {
      margin-left: -3px;
      display: block;
      outline: none;
      text-align: left;
      list-style: none;
      li {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid $border-line;
        background: $extra-light-grey;
        width: 50%;
        cursor: pointer;
        list-style: none;
        &:hover{
          background: $form-hover;
        }
        .label {
          color: $routine-color;
          font-weight: lighter;
        }
      }
    }
  }
  li {
    margin-top: 30px;
    &.wrapper {
      padding: 30px 20px 30px 0;
    }
    .input {
      margin-top: 20px;
      margin-left: 50px;
      padding: 3px 5px 0 5px;
    }
    input {
      background: none;
      border: none;
      width: 100%;
      &:focus {
        color: $routine-color;
        outline: none;
      }
    }
    .textarea {
      margin-top: 20px;
      margin-left: 50px;
      padding: 3px 5px 0 3px;
      text-align: left;
    }
    textarea {
      overflow: hidden;
      word-wrap: break-word;
      resize: none;
      height: 92px;
      background: none;
      border: none;
      width: 100%;
      &:focus {
        color: $routine-color;
        outline: none;
      }
    }
  }
}

.item {
  line-height: 28px;
  font-size: 15px;
  color: $routine-color;
  position: absolute;
}

.question {
  padding: 0;
  padding-left: 50px;
  line-height: 140%;
  text-align: left;
}

.question-tip {
  font-size: 12px !important;
}

.btn-enter {
  display: none;
  border: 1px solid $border-line;
  border-radius: 3px;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 12px !important;
  color: $routine-color;
  background: $extra-light-grey;
  text-align: center;
  padding: 10px 20px 10px 20px;
  width: 150px;
  &:hover {
    border: 1px solid $text-dark;
  }
}

.scale-columns {
  margin-top: 20px;
  display: table;
  width: 100%;
  table-layout: fixed;
  li {
    width: 2%;
    display: table-cell;
    word-break: break-word;
    text-align: center;
    cursor: pointer;
    height: 60px;
    padding: 0;
    border: 1px solid $border-line;
    vertical-align: middle;
    background: $extra-light-grey;
    transition: background 0.3s ease;
    &:hover {
      background: $form-hover;
    }
    .label {
      color: $routine-color;
      font-size: 22px;
      font-weight: lighter;
    }
  }
}

.focus {
  opacity: 1;
  input {
    border-bottom: 1px dashed $routine-color !important;
  }
  .textarea {
    border-left: 1px dashed $routine-color;
  }
  }

.inactive {
  opacity: 0.2;
}

.answer {
  background: $form-hover !important;
}
