#new-question {
  width: 85vw;
  height: 80vh;
  margin: 10vh auto;
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    .modal-content {
      height: 100%;
      margin: 0;
    }
  }
}

.new-question-body {
  padding: 0;
  display: -webkit-flex;
   display: flex;
   -webkit-align-items: strech;
   align-items: strech;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: stretch;
   align-content: stretch;
   height: 100%;
   overflow: scroll;
}

.new-question-container {
  padding: 20px;
  .name-input {
    width: 60%;
  }
}

#questions-sidebar {
  background: $light-grey;
  width: 33%;
  border-right: $border-line;
  form {
    height: 100%;
  }
}

#sidebar-form {
  padding: 20px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

#question-container {
  background: $light-grey;
}

#options-container {
  flex: 0 1 auto;
  margin-bottom: auto;
}

#buttons-container {
  align-self: flex-end;
  margin-top: auto;
}

#question-preview {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tool-links {
  text-decoration: none;
  color: $text-light-grey;
  margin-left: 10px;
  &:hover {
    color: $darkslate-color;
    cursor: pointer;
  }
}

#q-container {
  width: 80%;
}

