.question-row {
  display: flex;
}

.question-box {
  color: $text-dark;
  font-weight: lighter;
  padding: 10px 25px;
  background: #FFF;
  border: 1px solid $border-line;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  margin-bottom: 10px;
}

.question-position {
  margin-right: 10px;
}

.question-body {
  flex: 1 1 auto;
  display: flex;
   &:hover {
    .question-tools {
      display: block;
    }
  }
}

.question-name {
  flex: 1 1 auto;
}

.question-tools {
  a {
    text-decoration: none;
    color: $text-light-grey;
    margin-left: 10px;
    &:hover {
      color: $darkslate-color;
      cursor: pointer;
    }
  }
  span {
    color: $text-light-grey;
    margin-left: 10px;
    &:hover {
      color: $darkslate-color;
    }
  }
  display: none;
}

.draggable {
  cursor: all-scroll !important;
}

.disabbled:hover {
  color: $text-light-grey !important;
}

div.ui-sortable-helper{
    cursor: all-scroll;
}

.sortable-placeholder {
  border: 1px dashed #000;
  background-color: #DFF3F6;
  height: 60px;
  margin-bottom: 10px;
}
